<h1 class="text-2xl font-bold text-secondary text-center mb-2">Login</h1>

<form class="flex flex-col gap-4">

  <!-- Email -->
  <label class="input input-bordered flex items-center gap-2">
    <i class="bi bi-envelope-arrow-down-fill"></i>
    <input type="email" class="grow" placeholder="mail@site.com" required />
  </label>

  <!-- Password -->
  <label class="input input-bordered flex items-center gap-2">
    <i class="bi bi-key-fill"></i>
    <input type="password" class="grow" placeholder="********" required />
  </label>

  <!-- Botón de login -->
  <button type="submit" class="btn btn-secondary w-full">Login</button>

</form>


@if (hasError()){

<div role="alert" class="alert alert-error">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>
  <span>Error! Task failed successfully.</span>
</div>


}
  